@model IList<ForumPost>
@{
    ViewData["Title"] = "Index";
    bool tableShaded = false;
}

<section class="centeredPanel">
    <h2>Solar System Geek Forum</h2>
    <div id="newPostLink"><a asp-controller="Forum" asp-action="Newpost">Post a Message</a></div>

    @if (TempData["postSaved"] != null)
    {
        <div class="postSuccessful">@TempData["postSaved"]</div>
    }

    @foreach (ForumPost post in Model)
    {
        <div class="post @(tableShaded ? "shaded" : "")" id="ifrum_post">
            <table>
                <tr>
                    <h4>@post.Subject</h4>
                    by @post.UserName on @post.PostDate.Date.ToShortDateString() at @post.PostDate.ToString("T")<br /><br />
                    <p>@post.Message</p>
                </tr>
            </table>
        </div>
        tableShaded = !tableShaded;
    }
    </section>

